#header {
  position: relative;
    z-index: 10;
    max-width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
}

#content {
  min-height: 85vh;
}

#nav {
  border: 0 solid transparent;
}

#nav.ant-menu-horizontal>.ant-menu-item-selected,
#nav.ant-menu-horizontal>.ant-menu-item:hover {
  border-top: 2px solid #1890ff;
  border-bottom: 2px solid transparent;
}